@using SituationMonitoring.Models

@{
    ViewBag.Title = "situationManagement";
}


@if (Session["UserId"] == null)
{
    Response.Redirect("~/Account/Login");
}

<script>
    kendo.culture("en-GB");
</script>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple ">
            <div class="grid-title no-border">
                <div class="page-title">
                    <i class="icon-custom-left"></i>
                    <h3>الصفحة - <span class="semi-bold">  الرئيسية</span></h3>
                </div>
            </div>
            <div class="grid-body no-border">
                @if ((string)Session["UserType"]!=("منسق"))
                {
                    @(Html.Kendo().Grid<SituationViewModel>()
                .Name("grid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.SituationID).Width(100).Title("رقم النموذج");
                    columns.Bound(p => p.SituationDate).Width(120).HeaderHtmlAttributes(new { @title = "التاريخ " }).Width(120).Format("{0:dd/MM/yyyy}").Title("التاريخ ");

                    columns.ForeignKey(p => p.GovernorateID, (System.Collections.IEnumerable)ViewData["Governorate"], "GovernorateID", "GovernorateArName")
                               .Title("المحافظة").Width(150);
                    columns.ForeignKey(p => p.MunicipalityID, (System.Collections.IEnumerable)ViewData["Municipality"], "MunicipalityID", "MunicipalityName")
                              .Title("البلدية").Width(150);

                    columns.ForeignKey(p => p.AreaID, (System.Collections.IEnumerable)ViewData["Area"], "AreaID", "AreaName")
                              .Title("المنطقة").Width(150);

                    columns.ForeignKey(p => p.UserID, (System.Collections.IEnumerable)ViewData["users"], "UserID", "UserFullName")
                    .Title("المسؤول").Width(200);

                    columns.Bound(p => p.CollectiveCenter).Width(150).HeaderHtmlAttributes(new { @title = "مركز الايواء" }).Title("مركز الايواء");
                    columns.Bound(p => p.Site_Description).Width(150).HeaderHtmlAttributes(new { @title = "وصف الموقع" }).Title("وصف الموقع");

                    columns.Command(command => command.Custom("الدخول للنموذج").Click("showDetails")).Width(70);


                })

                 .Selectable(selectable => selectable
                        .Mode(GridSelectionMode.Multiple))
                       .Pageable()
                .Sortable()
                .Scrollable()
                .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                .HtmlAttributes(new { style = "height:550px;" })
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(20)
                    .ServerOperation(false)
                    .Events(events => events.Error("errorHandler"))
                    .Model(model =>
                    {
                        model.Id(p => p.SituationID);
                        model.Field(p => p.SituationID).Editable(false);
                        model.Field(p => p.GovernorateID).DefaultValue(1);
                        model.Field(p => p.MunicipalityID).DefaultValue(1);

                        model.Field(p => p.AreaID).DefaultValue(1);

                    })
                    .Read(read => read.Action("SituationMainAdmin_Read", "Home"))
                )
                    )



                    <script>
                        function showDetails(e) {
                            e.preventDefault();

                            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                            var situationId = dataItem.SituationID
                            var url = "/Questionnaire/QuestionnaireManmanagement?situationId=" + situationId;
                            window.location.href = url;



                        }
                    </script>

                    <script type="text/javascript">
                        function errorHandler(e) {
                            if (e.errors) {
                                var message = "Errors:\n";
                                $.each(e.errors, function (key, value) {
                                    if ('errors' in value) {
                                        $.each(value.errors, function () {
                                            message += this + "\n";
                                        });
                                    }
                                });
                                alert(message);
                            }
                        }
                    </script>

                }

                else
                {
                    @(Html.Kendo().Grid<SituationViewModel>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(p => p.SituationID).Width(100).Title("رقم النموذج");
                columns.Bound(p => p.SituationDate).Width(120).HeaderHtmlAttributes(new { @title = "التاريخ " }).Width(120).Format("{0:dd/MM/yyyy}").Title("التاريخ ");

                columns.ForeignKey(p => p.GovernorateID, (System.Collections.IEnumerable)ViewData["Governorate"], "GovernorateID", "GovernorateArName")
                           .Title("المحافظة").Width(150);
                columns.ForeignKey(p => p.MunicipalityID, (System.Collections.IEnumerable)ViewData["Municipality"], "MunicipalityID", "MunicipalityName")
                          .Title("البلدية").Width(150);

                columns.ForeignKey(p => p.AreaID, (System.Collections.IEnumerable)ViewData["Area"], "AreaID", "AreaName")
                          .Title("المنطقة").Width(150);

                columns.ForeignKey(p => p.UserID, (System.Collections.IEnumerable)ViewData["users"], "UserID", "UserFullName")
                .Title("المسؤول").Width(100);

                columns.Bound(p => p.CollectiveCenter).Width(200).HeaderHtmlAttributes(new { @title = "مركز الايواء" }).Width(200).Title("مركز الايواء");
                columns.Bound(p => p.Site_Description).Width(200).HeaderHtmlAttributes(new { @title = "وصف الموقع" }).Width(200).Title("وصف الموقع");


                columns.Command(command => command.Custom("الدخول للنموذج").Click("showDetails")).Width(100);


            })

             .Selectable(selectable => selectable
                    .Mode(GridSelectionMode.Multiple))
                   .Pageable()
            .Sortable()
            .Scrollable()
            .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
            .HtmlAttributes(new { style = "height:550px;" })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                .ServerOperation(false)
                .Events(events => events.Error("errorHandler"))
                .Model(model =>
                {
                    model.Id(p => p.SituationID);
                    model.Field(p => p.SituationID).Editable(false);


                })
                .Read(read => read.Action("SituationMainUser_Read", "Home"))
            )
                    )



                    <script>
                        function showDetails(e) {
                            e.preventDefault();

                            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                            situationId = dataItem.SituationID
                            var url = "/Questionnaire/QuestionnaireManmanagement?situationId=" + situationId;
                            window.location.href = url;



                        }
                    </script>

                    <script type="text/javascript">
                        function errorHandler(e) {
                            if (e.errors) {
                                var message = "Errors:\n";
                                $.each(e.errors, function (key, value) {
                                    if ('errors' in value) {
                                        $.each(value.errors, function () {
                                            message += this + "\n";
                                        });
                                    }
                                });
                                alert(message);
                            }
                        }
                    </script>

                }



            </div>
        </div>
    </div>
</div>